4.APP.MEF.PROYECTO.Administracion/Service References/WCF_Seguridad/SWLogin2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.5.115.23/WS_Seguridad/SWLogin.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Capa_Entidad" />
  <xs:complexType name="RespuestaSeguridadM">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Capa_Entidad" minOccurs="0" name="Auditoria" nillable="true" type="q1:Cls_Ent_Auditoria" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Capa_Entidad" minOccurs="0" name="Modulos" nillable="true" type="q2:ArrayOfCls_Ent_Sistemas_Modulos" />
      <xs:element minOccurs="0" name="ModulosHtml" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaSeguridadM" nillable="true" type="tns:RespuestaSeguridadM" />
  <xs:complexType name="RespuestaUsuarios">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Capa_Entidad" minOccurs="0" name="Auditoria" nillable="true" type="q3:Cls_Ent_Auditoria" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Capa_Entidad" minOccurs="0" name="Usuarios" nillable="true" type="q4:ArrayOfCls_Ent_sistemas_Usuarios" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaUsuarios" nillable="true" type="tns:RespuestaUsuarios" />
  <xs:complexType name="RespuestaSeguridadU">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Capa_Entidad" minOccurs="0" name="Auditoria" nillable="true" type="q5:Cls_Ent_Auditoria" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Capa_Entidad" minOccurs="0" name="Usuario" nillable="true" type="q6:Cls_Ent_Usuario" />
      <xs:element minOccurs="0" name="Usuario_Valido" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaSeguridadU" nillable="true" type="tns:RespuestaSeguridadU" />
  <xs:complexType name="RespuestaSeguridadID">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID_USUARIO" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaSeguridadID" nillable="true" type="tns:RespuestaSeguridadID" />
  <xs:complexType name="RespuestaSeguridadBool">
    <xs:sequence>
      <xs:element minOccurs="0" name="Valido" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaSeguridadBool" nillable="true" type="tns:RespuestaSeguridadBool" />
  <xs:complexType name="RespuestaAuditoria">
    <xs:sequence>
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Capa_Entidad" minOccurs="0" name="Auditoria" nillable="true" type="q7:Cls_Ent_Auditoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RespuestaAuditoria" nillable="true" type="tns:RespuestaAuditoria" />
</xs:schema>