4.APP.MEF.PROYECTO.Administracion/Service References/WCF_Seguridad/SWLogin4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://10.5.115.23/WS_Seguridad/SWLogin.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" />
  <xs:import schemaLocation="http://10.5.115.23/WS_Seguridad/SWLogin.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Capa_Entidad.Bitacora" />
  <xs:element name="Usuario_ObtenerModulos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_SISTEMA" type="xs:int" />
        <xs:element minOccurs="0" name="ID_PERFIL" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ObtenerModulosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_ObtenerModulosResult" nillable="true" type="q1:RespuestaSeguridadM" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sistema_ObtenerUsuarios">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_SISTEMA" type="xs:int" />
        <xs:element minOccurs="0" name="ID_PERFIL" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Sistema_ObtenerUsuariosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Sistema_ObtenerUsuariosResult" nillable="true" type="q2:RespuestaUsuarios" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="USUARIO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CLAVE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_LoginResult" nillable="true" type="q3:RespuestaSeguridadU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_Sistema">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_SISTEMA" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_SistemaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_SistemaResult" nillable="true" type="q4:RespuestaSeguridadU" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Id_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Id_UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Obtener_Id_UsuarioResult" nillable="true" type="q5:RespuestaSeguridadID" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Cod_Usuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Cod_UsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_Cod_UsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Id_Persona">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Obtener_Id_PersonaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Obtener_Id_PersonaResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validar_Token">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Validar_TokenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Validar_TokenResult" nillable="true" type="q6:RespuestaSeguridadBool" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Encriptar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncriptarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncriptarResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncriptarClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CLAVE" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EncriptarClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EncriptarClaveResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ActualizarClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CLAVE_USUARIO" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_ActualizarClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_ActualizarClaveResult" nillable="true" type="q7:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_PedirClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_PedirClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_PedirClaveResult" nillable="true" type="q8:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_OlvidoClave">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CORREO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="USU_CREACION" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IP_CREACION" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_OlvidoClaveResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_OlvidoClaveResult" nillable="true" type="q9:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_VerificaCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TOKEN" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CODIGO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="USU_MODIFICACION" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IP_MODIFICACION" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Usuario_VerificaCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="Usuario_VerificaCodigoResult" nillable="true" type="q10:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaExterna_Insertar">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Capa_Entidad.Bitacora" minOccurs="0" name="entidad" nillable="true" type="q11:Cls_Ent_PersonaExterna" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaExterna_InsertarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="PersonaExterna_InsertarResult" nillable="true" type="q12:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaExterna_Validar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ID_PERSONA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ID_SISTEMA" type="xs:int" />
        <xs:element minOccurs="0" name="ID_TIPO_USUARIO" type="xs:int" />
        <xs:element minOccurs="0" name="FLG_VALIDO" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OBSERVACION" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="USU_CREACION" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IP_CREACION" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PersonaExterna_ValidarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Servicio_Seguridad" minOccurs="0" name="PersonaExterna_ValidarResult" nillable="true" type="q13:RespuestaAuditoria" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>